/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$black: #000000;
$dark1: #111111;
$dark2: #222222;
$dark4: #444444;
$dark6: #666666;
$darkC4: #c4c4c4;
$darkCD: #cdcdcd;
$darkF2: #f2f2f2;
$darkE6: #e6e6e6;
$darkEA: #eaeaea;
$darkD9: #d9d9d9;
$basic-green: rgb(104, 183, 56);
$green-active: #5eaa2f;
$basic-green85: rgba(104, 183, 56, 0.85);
$white: #ffffff;
$white-active: rgba(255, 255, 255, 0.3);
$grey-active: #ebebeb;
$error: #ff8282;

$hover: 0.6;
$active: 0.3;
