.advantages__container {
  padding: 20px 20px 50px;
  margin: 0 auto;
}

.advantages__title {
  @include heading;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px;
}

.advantages__list {
  @include list;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages__item {
  font-size: 14px;
  line-height: 18px;
  color: $dark4;
  position: relative;
  padding-left: 80px;
  min-height: 60px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $basic-green;
    background-position: 45% 50%;
    background-repeat: no-repeat;
  }
}

.advantages__item--leaf {
  &::before {
    background-image: url("../../icons/stack.svg#leaf");
    background-size: 27px 29px;
  }
}

.advantages__item--chemistry {
  &::before {
    background-image: url("../../icons/stack.svg#chemistry");
    background-size: 26px 29px;
  }
}

.advantages__item--food {
  &::before {
    background-image: url("../../icons/stack.svg#eat");
    background-size: 25px 30px;
  }
}

.advantages__item--clock {
  &::before {
    background-image: url("../../icons/stack.svg#clock");
    background-size: 26px 31px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__container {
    padding: 45px 30px 5px;
    border-bottom: 1px solid $darkE6;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  .advantages__list {
    counter-reset: element;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 60px;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    counter-increment: element;
    position: relative;
    padding: 110px 0 0;
    max-width: 247px;
    min-height: 280px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "" counter(element);
      position: absolute;
      top: -38px;
      right: 0;
      font-size: 280px;
      line-height: 280px;
      color: $darkF2;
      font-family: $secondary-font;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 27px;
  }

  .advantages__container {
    padding: 73px 0 0;
    border-bottom: 0;
    max-width: 1220px;
    margin: 0 auto;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}
