.location--grey {
  background-color: $darkF2;
}

.location__container {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.location__info {
  color: $dark4;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.location__map {
  display: block;
  width: 100%;
  flex-grow: 1;
}

.location__map-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 362px;
  background: $skyblue url("../../images/map-mobile@1x.jpg") no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .location__container {
    padding: 60px 70px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .location__text {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

  .location__info {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 157px;
  }

  .location__map-wrapper {
    min-height: 400px;
    background-image: url("../../images/map-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .location {
    position: relative;
    padding: 95px 110px 106px;
  }

  .location--grey {
    background-color: unset;
  }

  .location__map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: unset;
    background-image: url("../../images/map-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-desktop@2x.jpg");
    }
  }

  .location__container {
    width: 565px;
    background-color: $white;
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 87px;
    z-index: 3;
    position: sticky;
  }

  .location__info {
    text-align: left;
  }
}
