.navigation {
  display: block;
}

.navigation--closed {
  display: none;
}

.navigation--js-enabled {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;

  .navigation__list {
    display: flex;
    flex-direction: column;
  }

  .navigation__link {
    background-color: $white;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.navigation__list {
  @include list;
}

.navigation__link {
  @include link;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding: 22px 0 23px;
  text-align: center;
  border-top: 1px solid $darkE6;
  border-bottom: 1px solid $darkE6;
  margin-top: -1px;

  &:hover,
  &:focus {
    color: $black-hover;
  }

  &:active {
    color: $black-active;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    display: block;
  }

  .navigation--js-enabled {
    position: unset;
    top: unset;
    left: unset;
    width: auto;

    .navigation__list {
      flex-direction: row;
      max-width: 450px;
    }

    .navigation__link {
      background-color: unset;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 33px;
    max-width: 450px;
  }

  .navigation__link {
    border: 0;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 0 8px;
    max-width: 160px;
  }

  .navigation__link--current {
    border-bottom: 2px solid $basic-green;
  }
}

@media (min-width: $desktop-width) {
  .navigation--js-enabled {
    .navigation__list {
      max-width: 900px;
    }
  }

  .navigation__list {
    max-width: 900px;
  }

  .navigation__link {
    font-size: 20px;
    line-height: 30px;
    max-width: 190px;
  }

  .navigation--index {
    .navigation__list {
      max-width: 600px;
    }

    .navigation__link {
      color: $white;

      &:hover,
      &:focus {
        opacity: $hover;
      }

      &:active {
        opacity: $active;
      }
    }

    .navigation__link--current {
      border-bottom: 2px solid $white;
    }
  }
}
